
<h1>Totaux & Reporting</h1>
<div class="card">
  <div class="card-body">
    <h3>Totaux Globaux</h3>
    <p>Formation: <%= totals.formation %> personnes</p>
    <p>Accidents: <%= totals.accidents.count %> accidents, <%= totals.accidents.jours %> jours d'arrêt</p>
    <p>Autres Incidents: <%= totals.incidents %></p>
    
  
    
    <h3>Interpellations par Type</h3>
    <p>
      Clients: <%= interpellationByType.Client.personnes %> personnes, 
      <%= interpellationByType.Client.poursuites %> poursuites, 
      <%= interpellationByType.Client.valeur %> KDH récupérés
    </p>
    <p>
      Personnels: <%= interpellationByType.Personnel.personnes %> personnes, 
      <%= interpellationByType.Personnel.poursuites %> poursuites, 
      <%= interpellationByType.Personnel.valeur %> KDH récupérés
    </p>
    <p>
      Prestataires: <%= interpellationByType.Prestataire.personnes %> personnes, 
      <%= interpellationByType.Prestataire.poursuites %> poursuites, 
      <%= interpellationByType.Prestataire.valeur %> KDH récupérés
    </p>

    <h3>Interpellations Globales</h3>
    <p>
      Total Interpellations: <%= totals.interpellations.personnes %> personnes, 
      <%= totals.interpellations.poursuites %> poursuites, 
      <%= totals.interpellations.valeur %> KDH récupérés
    </p>
  </div>
</div>
